<%= form_with model:post,local:true do |f| %>
  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'col-xs-12 title' %>
  </div>

  <div class="field row">
    <%= f.label :remark %>
    <%= f.text_area :remark, class: 'col-xs-12 remark'%>
  </div>

  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12'%>
  </div>
<% end %>
