<div class="row">
  <div class='col-xs-5'>
    <h2>User info</h2>
    <%= render 'users/info', user: @post.user %>
  </div>


  <div class='col-xs-7'>
		<h2>Post detail</h2>
		<table class='table'>
		  <tr id="post_<%= @post.id %>">
        <td>
          <%= link_to user_path(@post.user_id) do %>
            <%= attachment_image_tag @post, :image, size:"100x100", fallback: "no_image.jpg" %><br>
            <%= @post.user.name %>
          <% end %>
        </td>
        <td><%= link_to @post.title, post_path(@post) %></td>
        <td><%= @post.remark %></td>
        <td class="favorite-btn"><%= render "favorites/favorite-btn", post: @post %></td>
        <td class="comments-count">コメント数: <%= @post.post_comments.count %></td>

        <% if @post.user == current_user %>
          <td><%= link_to 'Edit', edit_post_path(@post), class: "btn-sm btn-success edit_post_#{@post.id}" %></td>
          <td><%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_post_#{@post.id}"%></td>
        <% end %>
      </tr>
    </table>
    <table class="post_comments">
      <%= render 'post_comments/index', post: @post %>
    </table>
    <%= form_with model:[@post,@post_comment],data:{remote:true} do |f| %>
      <%= f.text_area :comment, size:"70x5" %>
      <%= f.submit '送信'%>
    <% end %>
  </div>
</div>